@import url(reset.css);

body {
    background-color: #000;
    font-family: 'arial', sans-serif;

}

#button {
    display: flex;
    width: 326px;
    padding: 19px 50px;
    justify-content: center;
    align-items: center;
    gap: 31px;
    border: 2px solid #3BA1CD;
    color: #31A8DD;
    text-align: center;
    font-family: arial;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 3.36px;
}

#imgLogo {
    width: 248px;
    height: 214px;
    flex-shrink: 0;
    background: url(../images/logo.png), 50% / cover no-repeat;
}

.logo {
    width: 268px;
    height: 268px;
    flex-shrink: 0;
    border-radius: 268px;
    background: rgba(172, 20, 20, 0.2);

}

.banner-content {
    width: 1440px;
    height: 732px;
    flex-shrink: 0;
    background: url(../images/banner.png), lightgray 50% / cover no-repeat;
}

.banner {
    width: 1440px;
    height: 605px;
    flex-shrink: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.60) 0%, rgba(49, 168, 221, 0.00) 100%);
}

#headerTitle {
    font-family: arial;
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    background: linear-gradient(180deg, #33A8DB 0%, #1472B7 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#headerP {
    width: 510px;
    color: #FFF;
    text-align: center;
    font-family: arial;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.course-content, h2 {
    color: #33A8DB;
    font-family: arial;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 6.08px;
}

.course-content, h2 {
    width: 792px;
    color: #FFF;
    text-align: center;
    font-family: arial;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.module {
    display: flex;
    width: 535px;
    padding: 16px 127px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 57px;
    border: 1px solid #33A8DB;
    background: #252525;
    box-shadow: -2px 6px 4px 0px rgba(0, 0, 0, 0.40) inset;
    
}

.module, span {
    color: #33A8DB;
    font-family: arial;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #FFF;
    font-family: arial;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#transform-world {
    width: 1440px;
    height: 363px;
    flex-shrink: 0;
    border-top: 1px solid #33A8DB;
    border-right: 1px solid #33A8DB;
    border-bottom: 1px solid #33A8DB;

    background: url(../images/woman-code.png)
    top center / 1900px
    no-repeat
    fixed
}

#transform-world {
    color: #FFF;
    text-shadow: 3px 2px 0px #33A8DB;
    font-family: arial;
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    padding-top: 15rem;
}

#professional-challenges { 
    color: #33A8DB;
    text-align: center;
    font-family: arial;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 6.08px;
}


#professional-challengesImg {
    width: 659px;
    height: 429px;
    flex-shrink: 0;

    background: url(../images/professional-challenges.png), lightgray 50% / cover no-repeat;
}

#professional-challengesP {
    width: 792px;
    color: #FFF;
    text-align: center;
    font-family: arial;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

footer {
    width: 1440px;
    height: 170px;
    flex-shrink: 0;
    border-top: 1px solid #33A  8DB;
    background: linear-gradient(180deg, rgba(51, 168, 219, 0.00) 0%, rgba(51, 168, 219, 0.20) 99.99%, rgba(51, 168, 219, 0.20) 100%);

    color: #FFF;
    text-align: center;
    font-family: arial;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

a {
    color: #33A8DB;
    font-family: arial;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.dio-logo {
    width: 310px;
    height: 44px;
    flex-shrink: 0;
}